
.img_container span {
    text-align: center;
    position:relative;
    display: block;
    height:60px;
    line-height: 2;
    color:white;
    z-index: 10;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0,0,0,0.7));
    
}

.img_container img {
    width: 100%;
    margin-top: -60px;
    z-index: 9;
    position: relative;
}

.img_container {
    display: inline-block;
    float: left;
    margin-left:5px;
    margin-top: 5px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    
}
#digl{
    column-gap: 0px;
}
#digl_wrapper{
    overflow-y: scroll;
}
